<div class="d-flex flex-column w-100 min-vh-100 align-items-center">
  <div class="page-header d-flex w-100 flex-column">
    <div class="h-100 w-100 d-flex p-4">
      <div class="h-100 d-flex align-items-center">
        <img class="page-logo-image" src="assets/images/logo-white-small.png" />
      </div>
      <div class="spacer"></div>
      <app-menu [isContactSelected]="true"></app-menu>
    </div>
  </div>
  <div class="page-content">
    <h1 class="align-self-center">Contact</h1>
    <p class="mt-5">Hi!</p>
    <p>Thank you for trying to reach out!</p>
    <ul>
      <li>
        If you have questions or you wish to keep updated about your favorite
        software, head over to
        <a href="https://bsky.app/profile/digimezzo.bsky.social">Bluesky</a> or

        <a href="https://hachyderm.io/@digimezzo">Mastodon</a>
      </li>
      <li>
        If you found a bug or you would like to request a feature, or if you'd
        like to contribute, <a href="https://github.com/digimezzo">GitHub</a> is
        the place to be.
      </li>
    </ul>
    <p>Take care!</p>
  </div>
  <div class="spacer"></div>
  <app-footer class="w-100"></app-footer>
</div>
