<div class="d-flex flex-column w-100 min-vh-100 align-items-center">
  <div class="page-header d-flex w-100 flex-column">
    <div class="h-100 w-100 d-flex p-4">
      <div class="h-100 d-flex align-items-center">
        <img class="page-logo-image" src="assets/images/logo-white-small.png" />
      </div>
      <div class="spacer"></div>
      <app-menu [isDonateSelected]="true"></app-menu>
    </div>
  </div>
  <div class="page-content">
    <h1 class="align-self-center">Donate</h1>
    <p class="mt-5">
      The software on this website was crafted with care and love. It is free
      (as in beer) to use and redistribute in its original form. If you wish to
      show your appreciation for the time and effort that was put into creating
      it, you can donate by using
      <a
        href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=MQALEWTEZ7HX8"
        >Paypal</a
      >
      or <a href="https://ko-fi.com/S6S11K63U">Ko-fi</a>.
    </p>
    <p>Thank you so much!</p>
  </div>
  <div class="spacer"></div>
  <app-footer class="w-100"></app-footer>
</div>
