<div class="d-flex flex-column w-100 align-items-center">
  <div
    class="home-header d-flex w-100 flex-row align-items-center justify-content-center"
  >
    <div class="home-logo"></div>
  </div>
  <div class="mt-5 mb-2">
    With DigimezZo, we bring you a digital intermezzo filled with user friendly
    apps and software.
  </div>
  <div class="mt-2 mb-5">Enjoy you digital intermezzo!</div>
  <div class="home-showcase">
    <div class="home-showcase__item m-5">
      <img
        src="../../../assets/images/dopamine3-logo.png"
        width="100"
        height="100"
      />
      <div class="mt-4"><strong>DOPAMINE</strong></div>
      <div class="mt-4">
        Dopamine is an audio player which tries to make organizing and listening
        to music as simple and pretty as possible.
      </div>
    </div>
    <div class="home-showcase__item m-5">
      <img
        src="../../../assets/images/knowte-logo.png"
        width="100"
        height="100"
      />
      <div class="mt-4"><strong>KNOWTE</strong></div>
      <div class="mt-4">
        Knowte is a note taking application that allows you to quickly and
        easily write and organize your notes.
      </div>
    </div>
    <div class="home-showcase__item m-5">
      <img
        src="../../../assets/images/vitomu-logo.png"
        width="100"
        height="100"
      />
      <div class="mt-4"><strong>VITOMU</strong></div>
      <div class="mt-4">Vitomu is an easy to use video to audio converter.</div>
    </div>
  </div>
</div>
