.home-header {
  height: 500px;
  background-image: url("../../../assets/images/code-background.jpg");
}

.home-logo {
  width: 600px;
  height: 250px;
  background-image: url("../../../assets/images/logo-white-large.png");
}
