.home-header {
  height: 500px;
  background-image: url("../../../assets/images/code-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-logo-image {
  width: 494px;
  height: 153px;
}

@media screen and (max-width: 700px) {
  .home-logo-image {
    width: 50%;
    height: auto;
  }

  .home-header {
    height: 300px;
  }
}

.home-showcase {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.home-showcase__item {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .home-showcase {
    flex-direction: column;
  }

  .home-showcase__item {
    width: 75%;
  }
}
