<div class="d-flex flex-column w-100 min-vh-100 align-items-center">
  <div
    class="home-header d-flex w-100 flex-column align-items-center justify-content-center"
  >
    <img class="home-logo-image" src="assets/images/logo-white-large.png" />
  </div>
  <div class="mt-5 mb-2 text-center w-75">
    With DigimezZo, we bring you a digital intermezzo filled with user friendly
    apps and software.
  </div>
  <div class="mt-2 text-center w-75">Enjoy you digital intermezzo!</div>
  <div class="home-showcase my-5">
    <div class="home-showcase__item m-5">
      <img src="assets/images/dopamine3-logo.png" width="100" height="100" />
      <div class="mt-4"><strong>Dopamine</strong></div>
      <div class="mt-4 text-center">
        Dopamine is an audio player which tries to make organizing and listening
        to music as simple and pretty as possible.
      </div>
    </div>
    <div class="home-showcase__item m-5">
      <img src="assets/images/knowte-logo.png" width="100" height="100" />
      <div class="mt-4"><strong>Knowte</strong></div>
      <div class="mt-4 text-center">
        Knowte is a note taking application that allows you to quickly and
        easily write and organize your notes.
      </div>
    </div>
    <div class="home-showcase__item m-5">
      <img src="assets/images/vitomu-logo.png" width="100" height="100" />
      <div class="mt-4"><strong>Vitomu</strong></div>
      <div class="mt-4 text-center">
        Vitomu is an easy to use video to audio converter.
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div
    class="site-footer w-100 text-center d-flex align-items-center justify-content-center"
  >
    {{ this.copyright }}
  </div>
</div>
