.page-header {
  height: 150px;
  background-image: url("../assets/images/code-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 48px;
}

@media screen and (max-width: 700px) {
  .page-content {
    width: 100%;
    padding: 24px;
  }
}

.page-logo-image {
  width: 288px;
  height: 68px;
}

@media screen and (max-width: 950px) {
  .page-logo-image {
    width: calc(0.75 * 288px);
    height: calc(0.75 * 68px);
  }
}

@media screen and (max-width: 870px) {
  .page-logo-image {
    width: calc(0.5 * 288px);
    height: calc(0.5 * 68px);
  }
}

@media screen and (max-width: 820px) {
  .page-logo-image {
    width: calc(0.4 * 288px);
    height: calc(0.4 * 68px);
  }
}

@media screen and (max-width: 750px) {
  .page-logo-image {
    width: 192px;
    height: 45px;
  }
}
