.page-header {
  height: 150px;
  background-image: url("../assets/images/code-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 48px;
}

@media screen and (max-width: 700px) {
  .page-content {
    width: 100%;
    padding: 24px;
  }
}

.page-logo-image {
  width: 288px;
  height: 68px;
}

@media screen and (max-width: 800px) {
  .page-logo-image {
    width: 144px;
    height: 34px;
  }
}

@media screen and (max-width: 700px) {
  .page-logo-image {
    width: 288px;
    height: 68px;
  }
}
