.spacer {
  flex: 1;
}

.text-accent {
  color: #026cfe !important;
}

.text-dopamine3 {
  color: #4883e0 !important;
}

.bg-dopamine3 {
  background-color: #4883e0 !important;
}

.text-dopamine2 {
  color: #3187d8 !important;
}

.bg-dopamine2 {
  background-color: #3187d8 !important;
}

.text-knowte {
  color: #016fc1 !important;
}

.bg-knowte {
  background-color: #016fc1 !important;
}

.text-vitomu {
  color: #ec1a65 !important;
}

.bg-vitomu {
  background-color: #ec1a65 !important;
}
