h1 {
  color: #026cfe;
  font-weight: bold;
  font-size: 28px !important;
  text-transform: uppercase;
}

h2 {
  color: #026cfe;
  font-weight: bold;
  font-size: 24px !important;
  text-transform: uppercase;
}

h3 {
  color: #026cfe;
  font-size: 20px !important;
}

h4 {
  color: #026cfe;
  font-size: 16px !important;
}

/*
Default bootstrap values:

h1 Bootstrap heading (2.5rem = 40px)
h2 Bootstrap heading (2rem = 32px)
h3 Bootstrap heading (1.75rem = 28px)
h4 Bootstrap heading (1.5rem = 24px)
h5 Bootstrap heading (1.25rem = 20px)
h6 Bootstrap heading (1rem = 16px)
*/

a {
  color: #026cfe !important;
}
