<div class="d-flex flex-row align-items-center">
  <a href="https://bsky.app/profile/digimezzo.bsky.social"
    ><i
      class=" fa-brands fa-bluesky mx-2 text-white font-awesome-icon"
      role="button"
      title="Keep updated on Bluesky!"
    ></i
  ></a>
  <a href="https://hachyderm.io/@digimezzo"
    ><i
      class="lab la-mastodon la-2x mx-2 text-white"
      role="button"
      title="Keep updated on Mastodon!"
    ></i
  ></a>
  <a href="https://github.com/digimezzo">
    <i
      class="lab la-github la-2x mx-2 text-white"
      role="button"
      title="Bug reports, feature requests and sources."
    ></i
  ></a>
</div>
